In [46]:
import pandas as pd
import statsmodels.api as sm

from sklearn import linear_model
from sklearn import model_selection
from sklearn.metrics import recall_score

from sklearn.metrics import accuracy_score
from sklearn.metrics._plot.confusion_matrix import confusion_matrix
from sklearn.metrics import classification_report

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/adiacla/bigData/master/titanic.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
df = df.drop('Cabin', axis=1)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,Q

In [6]:
df = df.dropna()

In [7]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Embarked        object
dtype: object

In [8]:
from scipy.special import logit
x = df.iloc[:,[5,6,7]]
y = df.Survived
logit_model = sm.Logit(y,x)
result = logit_model.fit()
print(result.summary())

Optimization terminated successfully.
         Current function value: 0.665234
         Iterations 4
                           Logit Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  712
Model:                          Logit   Df Residuals:                      709
Method:                           MLE   Df Model:                            2
Date:                Sun, 06 Nov 2022   Pseudo R-squ.:                 0.01416
Time:                        01:37:55   Log-Likelihood:                -473.65
converged:                       True   LL-Null:                       -480.45
Covariance Type:            nonrobust   LLR p-value:                  0.001108
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Age           -0.0135      0.003     -5.273      0.000      -0.019      -0.008
SibSp         -0.1952      0.087     -2.240      0.025      -0.366      -0.024
Parch          0.2616      0.097      2.703      0.007       0.072       0.451
==============================================================================

In [9]:
df['Embarked'].unique()

array(['S', 'C', 'Q'], dtype=object)

# Taller 8

In [10]:
df["Sex"] = df["Sex"].astype("category")
df2 = pd.get_dummies(df["Sex"], prefix="Sex")
df['Sex_female'] = df2['Sex_female']
df['Sex_male'] = df2['Sex_male']
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Sex_female,Sex_male
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,1,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S,1,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S,1,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,Q,1,0
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,S,0,1
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,S,1,0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C,0,1
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,Q,0,1

In [11]:
x = df.iloc[:,[11,12]]
y = df.Survived
logit_model = sm.Logit(y,x)
result = logit_model.fit()
print(result.summary())

Optimization terminated successfully.
         Current function value: 0.526383
         Iterations 5
                           Logit Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  712
Model:                          Logit   Df Residuals:                      710
Method:                           MLE   Df Model:                            1
Date:                Sun, 06 Nov 2022   Pseudo R-squ.:                  0.2199
Time:                        01:37:56   Log-Likelihood:                -374.78
converged:                       True   LL-Null:                       -480.45
Covariance Type:            nonrobust   LLR p-value:                 7.029e-48
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Sex_female     1.1141      0.144      7.734      0.000       0.832       1.396
Sex_male      -1.3535      0.116    -11.636      0.000      -1.581      -1.126
==============================================================================

In [12]:
x = df.iloc[:,[2,11,12]]
y = df.Survived
logit_model = sm.Logit(y,x)
result = logit_model.fit()
print(result.summary())

Optimization terminated successfully.
         Current function value: 0.472013
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  712
Model:                          Logit   Df Residuals:                      709
Method:                           MLE   Df Model:                            2
Date:                Sun, 06 Nov 2022   Pseudo R-squ.:                  0.3005
Time:                        01:37:56   Log-Likelihood:                -336.07
converged:                       True   LL-Null:                       -480.45
Covariance Type:            nonrobust   LLR p-value:                 1.982e-63
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Pclass        -0.9876      0.118     -8.345      0.000      -1.220      -0.756
Sex_female     3.3344      0.324     10.296      0.000       2.700       3.969
Sex_male       0.7661      0.264      2.906      0.004       0.249       1.283
==============================================================================

In [13]:
x = df.iloc[:,[2,5,6,7,11,12]]
y = df.Survived
logit_model = sm.Logit(y,x)
result = logit_model.fit()
print(result.summary())

Optimization terminated successfully.
         Current function value: 0.446693
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  712
Model:                          Logit   Df Residuals:                      706
Method:                           MLE   Df Model:                            5
Date:                Sun, 06 Nov 2022   Pseudo R-squ.:                  0.3380
Time:                        01:37:56   Log-Likelihood:                -318.05
converged:                       True   LL-Null:                       -480.45
Covariance Type:            nonrobust   LLR p-value:                 4.614e-68
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Pclass        -1.3126      0.141     -9.317      0.000      -1.589      -1.036
Age           -0.0446      0.008     -5.462      0.000      -0.061      -0.029
SibSp         -0.3636      0.126     -2.878      0.004      -0.611      -0.116
Parch         -0.0356      0.120     -0.297      0.766      -0.270       0.199
Sex_female     5.6090      0.547     10.259      0.000       4.537       6.681
Sex_male       2.9808      0.486      6.137      0.000       2.029       3.933
==============================================================================

# Taller 9

In [14]:
x = df.iloc[:,[2,5,6,7,11,12]]
y = df.Survived
x.shape

(712, 6)

In [16]:
model = linear_model.LogisticRegression()
model.fit(x,y)

LogisticRegression()

In [17]:
print("Precision del modelo:")
model.score(x,y)

Precision del modelo:

0.8075842696629213

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [19]:
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [20]:
exhaustividad = recall_score(y_test, y_pred)
print('exhaustividad del modelo:')
print(exhaustividad)

exhaustividad del modelo:
0.7719298245614035

In [21]:
x = df.iloc[:,[11,12]]
y = df.Survived

In [22]:
model = linear_model.LogisticRegression()
model.fit(x,y)

LogisticRegression()

In [28]:
print("Precision:")
model.score(x,y)

Precision:

0.7794943820224719

In [24]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [25]:
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [27]:
exhaustividad = recall_score(y_test, y_pred)
print('Exhaustividad:')
print(exhaustividad)

Exhaustividad:
0.6610169491525424

In [29]:
x = df.iloc[:,[5,6,7]]
y = df.Survived

In [30]:
model = linear_model.LogisticRegression()
model.fit(x,y)

LogisticRegression()

In [31]:
validation_size = 0.20
seed = 7
X_train, X_validation, Y_train, Y_validation = model_selection.train_test_split(x, y, test_size=validation_size, random_state=seed)

In [33]:
name='Regresion Logica'
kfold = model_selection.KFold(n_splits=10, random_state=seed, shuffle=True)
cv_results = model_selection.cross_val_score(model, X_train, Y_train, cv=kfold, scoring='accuracy')
msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
print(msg)

Regresion Logica: 0.627444 (0.058413)

In [35]:
predictions = model.predict(X_validation)
print(accuracy_score(Y_validation, predictions))

0.6643356643356644

In [37]:
print(confusion_matrix(Y_validation, predictions))

[[86  2]
 [46  9]]

In [39]:
print(classification_report(Y_validation, predictions))

              precision    recall  f1-score   support

           0       0.65      0.98      0.78        88
           1       0.82      0.16      0.27        55

    accuracy                           0.66       143
   macro avg       0.73      0.57      0.53       143
weighted avg       0.72      0.66      0.59       143

In [40]:
x = df.iloc[:,[5,6,7,11,12]]
y = df.Survived

In [41]:
model = linear_model.LogisticRegression()
model.fit(x,y)

LogisticRegression()

In [42]:
validation_size = 0.20
seed = 7
X_train, X_validation, Y_train, Y_validation = model_selection.train_test_split(x, y, test_size=validation_size, random_state=seed)

In [43]:
name='Regresion Logica'
kfold = model_selection.KFold(n_splits=10, random_state=seed, shuffle=True)
cv_results = model_selection.cross_val_score(model, X_train, Y_train, cv=kfold, scoring='accuracy')
msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
print(msg)

Regresion Logica: 0.778634 (0.046251)

In [45]:
predictions = model.predict(X_validation)
print(accuracy_score(Y_validation, predictions))

0.7692307692307693

In [47]:
print(confusion_matrix(Y_validation, predictions))

[[76 12]
 [21 34]]

In [48]:
print(classification_report(Y_validation, predictions))

              precision    recall  f1-score   support

           0       0.78      0.86      0.82        88
           1       0.74      0.62      0.67        55

    accuracy                           0.77       143
   macro avg       0.76      0.74      0.75       143
weighted avg       0.77      0.77      0.76       143